hr {
	height: 3px;
    background-color: #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-fluid {
	max-width: 960px;
	padding-top: 0;
}



/* TO DO: Implement Navbar 


.navbar-header {

	height: 72px;
}


.navbar a {
    color: #fff;
}

.navbar-inverse {
	background-color: firebrick;
	background-image:none;
    border-color: #111111;
    padding-top: 15px;
    border-radius: 0px;
}

/* Header Area */

.logo {
	padding-top: 10px;
	max-width: 50%;
}

.tagline, 
.name {
	text-align:right;
	color: #666;
	text-transform: uppercase;
}

.name {
	font-size: 60px;
	font-family: "Lato", sans-serif;
}

.tagline {
	font-size: 20px;
	font-weight: 200;
}

/*  Portfolio Area */

.portfolio-pages {
	padding-bottom: 20px;
	max-width: 1350px;
}

.main-img {
	padding-bottom: 30px;
}

.qr-building {
	max-width: 100%;
}

.portfolio-text {
	color: #bbb;
	font-size: 32px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.portfolio-name {
	text-align: center;
	font-size: 26px;
	padding-top: 5px;
	text-transform: uppercase;
	color: #666;
}

.portfolio-name a:link, a  {
	color: #666;
}

.portfolio-name {
	text-transform: uppercase;
}

.portfolio-img:hover {
	-webkit-box-shadow: 0 6px 6px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 6px 6px 2px rgba(0,0,0,0.4);
    box-shadow: 0 6px 6px 2px rgba(0,0,0,0.4);
    margin-bottom: 0;
}

.portfolio-img {
	max-width: 100%;
}


/* Media queries to support smaller viewports */

@media screen and (max-width: 991px) {
	.portfolio-name {
		padding-bottom: 60px;
	}
} 

/* Media queries to support larger viewports */

@media screen and (min-width: 1349px) {
	.main-img {
		margin-left: 30px;
	}
	.portfolio-img {
		margin-left: 30px;
	}
	.portfolio-text {
		margin-left: 30px;
	}
} 
