a:focus, a:hover {
	text-decoration: none;
}

hr {
	height: 3px;
    background-color:#d3d3d3;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-fluid {
	max-width: 960px;
	padding-top: 0px;
}

.img-responsive {
	width: 100%;
}


/*************************** TO DO: Implement Navbar ********************


.navbar-header {

	height: 72px;
}


.navbar a {
    color: #fff;
}

.navbar-inverse {
	background-color: firebrick;
	background-image:none;
    border-color: #111111;
    padding-top: 15px;
    border-radius: 0px;
}

/***************************** Header Area *****************************/

.logo {
	padding-top: 10px;
	max-width: 50%;
}

.tagline, .name {
	text-align:right;
	color: #66686d;
	text-transform: uppercase;
}

.name {
	font-size: 60px;
	font-family: "Lato", sans-serif;
}

.tagline {
	font-size: 20px;
	font-weight: 200;
}

/******************* Portfolio Area **********************************/

.portfolio-pages {
	padding-bottom: 20px;
}

.main-img {
	padding-bottom: 30px;
}

.portfolio-text {
	color: #bcbbbb;
	font-size: 32px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.portfolio-name {
	text-align: center;
	font-size: 26px;
	padding-top: 5px;
	text-transform: uppercase;
	color: #66686d;
}

.portfolio-name a:link, a  {
	color: #66686d;
}

.portfolio-name {
	text-transform: uppercase;
}

.portfolio-img:hover {
	-webkit-box-shadow: 0px 6px 6px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 6px 6px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 6px 6px 2px rgba(0,0,0,0.4);
    margin-bottom:0px;
}

.portfolio-img {
	min-height: 300px;
}

/******************* Media queries to support small browsers *****************/

@media screen and (max-width: 991px) {
	.portfolio-name {
		padding-bottom: 60px;
	}
} 


